<html>
	<head>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>
	$("#slideshow > div:gt(0)").hide();
	setInterval(function() { 
  	$('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);
	</script>
	<title>SKODA AUTO</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	</head>
	<style>
	#slideshow {      
    position: relative; 
    width: 100%; 
    height: 570px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	}
	#slideshow > div { 
    position: absolute;      
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
	}
	img {
		width:100%;
		height: 570px;
	}
	.datatab{
		margin-left:25%;
		margin-right: 25%;
	}
	#meni{
		height: 40px;
	}
	.footer{ 
	text-shadow: 1px 1px #18330B;
	margin-left:14%;
	width: 940px;
	height: 23px;
	padding-top: 60px;
	text-align: center;
	background: transparent;
	color: #000;
	display:block;
	font-weight: bold;
	}
	
	</style>
<body>	
	<div id="slideshow">
   <div>
     <img src="http://www.carwallpapers.cc/wp/skoda/rapid/2012/Skoda-Rapid-2012-1600x900-003.jpg">
   </div>
   <div>
     <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/%C5%A0koda_Superb_II_2013_(back).JPG">
   </div>
   <div>
     <img src="http://4.bp.blogspot.com/-FVdBDM0caEk/TuXEntbmhII/AAAAAAAAFW4/zDXTWbHiMjc/s1600/2013_Skoda-Citigo_car-desktop-wallpaper-2.jpg">
   </div>
</div>
<div class="datatab">
    <div class="col-md-4">
        <h3>Unos novog automobila</h3>
        <form action="/automobili/create" method="post" class="pure-form pure-form-aligned">
		<fieldset>
            <div class="pure-control-group">
                <label for="regbrojauta">Registarski broj automobila:</label>
                <input type="text" class="form-control" name="regbrojauta"/>
            </div>
            <div class="pure-control-group">
                <label for="godproizv">Datum proizvodnje:</label>
                <input type="date" class="form-control" name="godproizv"/>
            </div>
           <div class="pure-control-group">
                <label for="tipauta">Izaberite tip auta:</label>
                <select name="tipauta_id" class="form-control" id="tipauta_id">
                   {{#tipautaa}}
                       <option value="{{tipautaid}}">{{imeauta}}</option>
                   {{/tipautaa}}
                </select>
            </div>
            <div class="pure-control-group">
                <label for="oprema_id">Izaberite opremu:</label>
                <select name="oprema_id" class="form-control" id="oprema_id">
                    {{#opreme}}
                        <option value="{{opremaid}}">{{imeopreme}}</option>
                    {{/opreme}}
                </select>
            </div>
			<div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Sacuvaj automobil</button>
            <a href="/automobili">Nazad</a>
			</div>
		</fieldset>
        </form>
    </div>
</div>
</div>
<div class="footer">
	SKODA AUTO
</div>
</body>
</html>